In [226]:
import pandas as pd
import numpy as np
from pandas.core.frame import DataFrame
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split
import xgboost as xgb

In [166]:
train = pd.read_csv('/home/aleksandr/data/kaggle/project/train.csv')
clien_profile = pd.read_csv('/home/aleksandr/data/kaggle/project/client_profile.csv')
bki = pd.read_csv('/home/aleksandr/data/kaggle/project/bki.csv')
app_hist = pd.read_csv('/home/aleksandr/data/kaggle/project/applications_history.csv')
payments = pd.read_csv('/home/aleksandr/data/kaggle/project/payments.csv')
# sample_submit = pd.read_csv('/home/aleksandr/data/kaggle/project/sample_submit.csv')
# test = pd.read_csv('/home/aleksandr/data/kaggle/project/test.csv')

In [3]:
def info_df(i_df: DataFrame):
    print('Размер: ', i_df.shape, '\n')
    print(i_df.head(), '\n')
    print('Заголовки', i_df.columns, '\n')
    print(i_df.describe())

In [54]:
info_df(train)

Размер:  (110093, 3)

   APPLICATION_NUMBER  TARGET NAME_CONTRACT_TYPE
0           123687442       0               Cash
1           123597908       1               Cash
2           123526683       0               Cash
3           123710391       1               Cash
4           123590329       1               Cash

Заголовки Index(['APPLICATION_NUMBER', 'TARGET', 'NAME_CONTRACT_TYPE'], dtype='object')

       APPLICATION_NUMBER         TARGET
count        1.100930e+05  110093.000000
mean         1.235772e+08       0.080813
std          8.880939e+04       0.272550
min          1.234233e+08       0.000000
25%          1.235005e+08       0.000000
50%          1.235769e+08       0.000000
75%          1.236539e+08       0.000000
max          1.237308e+08       1.000000

Файл "train" содержит данные по заявкам на кредит:
    - APPLICATION_NUMBER - номер заявки;
    - TARGET - одобрена или нет заявка (0 - не одобрена, 1 одобрена);
    - NAME_CONTRACT_TYPE - тип контракта (наличные или кредитная карта).

In [55]:
info_df(clien_profile)

Размер:  (250000, 24)

   APPLICATION_NUMBER GENDER  CHILDRENS  TOTAL_SALARY  AMOUNT_CREDIT  \
0           123666076      F          0      157500.0       270000.0
1           123423688      F          0      270000.0       536917.5
2           123501780      M          1      427500.0       239850.0
3           123588799      M          0      112500.0       254700.0
4           123647485      M          0      130500.0       614574.0

   AMOUNT_ANNUITY                EDUCATION_LEVEL   FAMILY_STATUS  \
0         13500.0              Incomplete higher  Civil marriage
1         28467.0  Secondary / secondary special         Married
2         23850.0              Incomplete higher         Married
3         17149.5  Secondary / secondary special         Married
4         19822.5                Lower secondary         Married

   REGION_POPULATION    AGE  ...  FAMILY_SIZE  EXTERNAL_SCORING_RATING_1  \
0           0.008068   8560  ...          2.0                   0.329471
1           0.020246  23187  ...          2.0                        NaN
2           0.072508  14387  ...          3.0                   0.409017
3           0.019101  14273  ...          2.0                        NaN
4           0.022625  22954  ...          2.0                        NaN

   EXTERNAL_SCORING_RATING_2  EXTERNAL_SCORING_RATING_3  \
0                   0.236315                   0.678568
1                   0.442295                   0.802745
2                   0.738159                        NaN
3                   0.308994                   0.590233
4                   0.739408                   0.156640

   AMT_REQ_CREDIT_BUREAU_HOUR  AMT_REQ_CREDIT_BUREAU_DAY  \
0                         0.0                        0.0
1                         0.0                        0.0
2                         NaN                        NaN
3                         0.0                        0.0
4                         0.0                        0.0

   AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
0                         0.0                        0.0
1                         0.0                        0.0
2                         NaN                        NaN
3                         0.0                        0.0
4                         1.0                        0.0

   AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
0                        1.0                         2.0
1                        1.0                         1.0
2                        NaN                         NaN
3                        0.0                         3.0
4                        0.0                         6.0

[5 rows x 24 columns]

Заголовки Index(['APPLICATION_NUMBER', 'GENDER', 'CHILDRENS', 'TOTAL_SALARY',
       'AMOUNT_CREDIT', 'AMOUNT_ANNUITY', 'EDUCATION_LEVEL', 'FAMILY_STATUS',
       'REGION_POPULATION', 'AGE', 'DAYS_ON_LAST_JOB', 'OWN_CAR_AGE',
       'FLAG_PHONE', 'FLAG_EMAIL', 'FAMILY_SIZE', 'EXTERNAL_SCORING_RATING_1',
       'EXTERNAL_SCORING_RATING_2', 'EXTERNAL_SCORING_RATING_3',
       'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON',
       'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object')

       APPLICATION_NUMBER      CHILDRENS  TOTAL_SALARY  AMOUNT_CREDIT  \
count        2.500000e+05  250000.000000  2.500000e+05   2.500000e+05
mean         1.235771e+08       0.417624  1.690662e+05   5.993051e+05
std          8.877722e+04       0.722529  2.588480e+05   4.022720e+05
min          1.234233e+08       0.000000  2.565000e+04   4.500000e+04
25%          1.235002e+08       0.000000  1.125000e+05   2.700000e+05
50%          1.235772e+08       0.000000  1.485000e+05   5.147775e+05
75%          1.236540e+08       1.000000  2.025000e+05   8.086500e+05
max          1.237309e+08      19.000000  1.170000e+08   4.050000e+06

       AMOUNT_ANNUITY  REGION_POPULATION            AGE  DAYS_ON_LAST_JOB  \
count   249989.000000      250000.000000  250000.000000     250000.000000
mean     27125.209585           0.020871   16033.460496      67505.883296
std      14503.930366           0.013827    4361.332320     139261.099609
min       1615.500000           0.000290    7489.000000          0.000000
25%      16524.000000           0.010006   12415.000000        931.000000
50%      24930.000000           0.018850   15744.000000       2217.000000
75%      34618.500000           0.028663   19681.000000       5678.000000
max     230161.500000           0.072508   25229.000000     365243.000000

        OWN_CAR_AGE     FLAG_PHONE  ...    FAMILY_SIZE  \
count  85041.000000  250000.000000  ...  249998.000000
mean      12.030221       0.280244  ...       2.154025
std       11.899404       0.449119  ...       0.911543
min        0.000000       0.000000  ...       1.000000
25%        5.000000       0.000000  ...       2.000000
50%        9.000000       0.000000  ...       2.000000
75%       15.000000       1.000000  ...       3.000000
max       69.000000       1.000000  ...      20.000000

       EXTERNAL_SCORING_RATING_1  EXTERNAL_SCORING_RATING_2  \
count              109121.000000               2.494680e+05
mean                    0.502122               5.141749e-01
std                     0.210817               1.910938e-01
min                     0.014691               8.173617e-08
25%                     0.334180               3.920026e-01
50%                     0.506018               5.656713e-01
75%                     0.674793               6.635195e-01
max                     0.962693               8.549997e-01

       EXTERNAL_SCORING_RATING_3  AMT_REQ_CREDIT_BUREAU_HOUR  \
count              200462.000000               216293.000000
mean                    0.510848                    0.006348
std                     0.195054                    0.083783
min                     0.000527                    0.000000
25%                     0.370650                    0.000000
50%                     0.535276                    0.000000
75%                     0.669057                    0.000000
max                     0.896010                    4.000000

       AMT_REQ_CREDIT_BUREAU_DAY  AMT_REQ_CREDIT_BUREAU_WEEK  \
count              216293.000000               216293.000000
mean                    0.006866                    0.034217
std                     0.107957                    0.204029
min                     0.000000                    0.000000
25%                     0.000000                    0.000000
50%                     0.000000                    0.000000
75%                     0.000000                    0.000000
max                     9.000000                    8.000000

       AMT_REQ_CREDIT_BUREAU_MON  AMT_REQ_CREDIT_BUREAU_QRT  \
count              216293.000000              216293.000000
mean                    0.267475                   0.266786
std                     0.914514                   0.831547
min                     0.000000                   0.000000
25%                     0.000000                   0.000000
50%                     0.000000                   0.000000
75%                     0.000000                   0.000000
max                    27.000000                 261.000000

       AMT_REQ_CREDIT_BUREAU_YEAR
count               216293.000000
mean                     1.899030
std                      1.868811
min                      0.000000
25%                      0.000000
50%                      1.000000
75%                      3.000000
max                     25.000000

[8 rows x 21 columns]

In [56]:
info_df(app_hist)

Размер:  (1670214, 26)

   PREV_APPLICATION_NUMBER  APPLICATION_NUMBER NAME_CONTRACT_TYPE  \
0                 49298709           123595216                NaN
1                 50070639           123431468               Cash
2                 49791680           123445379               Cash
3                 50087457           123499497               Cash
4                 49052479           123525393               Cash

   AMOUNT_ANNUITY  AMT_APPLICATION  AMOUNT_CREDIT  AMOUNT_PAYMENT  \
0        1730.430          17145.0        17145.0             0.0
1       25188.615         607500.0       679671.0             NaN
2       15060.735         112500.0       136444.5             NaN
3       47041.335         450000.0       470790.0             NaN
4       31924.395         337500.0       404055.0             NaN

   AMOUNT_GOODS_PAYMENT NAME_CONTRACT_STATUS  DAYS_DECISION  ...  \
0               17145.0             Approved             73  ...
1              607500.0             Approved            164  ...
2              112500.0             Approved            301  ...
3              450000.0             Approved            512  ...
4              337500.0              Refused            781  ...

  NAME_PRODUCT_TYPE SELLERPLACE_AREA CNT_PAYMENT NAME_YIELD_GROUP  \
0               XNA               35        12.0           middle
1            x-sell               -1        36.0       low_action
2            x-sell               -1        12.0             high
3            x-sell               -1        12.0           middle
4           walk-in               -1        24.0             high

  DAYS_FIRST_DRAWING DAYS_FIRST_DUE DAYS_LAST_DUE_1ST_VERSION  DAYS_LAST_DUE  \
0           365243.0           42.0                     300.0           42.0
1           365243.0          134.0                     916.0       365243.0
2           365243.0          271.0                      59.0       365243.0
3           365243.0          482.0                     152.0          182.0
4                NaN            NaN                       NaN            NaN

   DAYS_TERMINATION NFLAG_INSURED_ON_APPROVAL
0              37.0                       0.0
1          365243.0                       1.0
2          365243.0                       1.0
3             177.0                       1.0
4               NaN                       NaN

[5 rows x 26 columns]

Заголовки Index(['PREV_APPLICATION_NUMBER', 'APPLICATION_NUMBER', 'NAME_CONTRACT_TYPE',
       'AMOUNT_ANNUITY', 'AMT_APPLICATION', 'AMOUNT_CREDIT', 'AMOUNT_PAYMENT',
       'AMOUNT_GOODS_PAYMENT', 'NAME_CONTRACT_STATUS', 'DAYS_DECISION',
       'NAME_PAYMENT_TYPE', 'CODE_REJECT_REASON', 'NAME_TYPE_SUITE',
       'NAME_CLIENT_TYPE', 'NAME_GOODS_CATEGORY', 'NAME_PORTFOLIO',
       'NAME_PRODUCT_TYPE', 'SELLERPLACE_AREA', 'CNT_PAYMENT',
       'NAME_YIELD_GROUP', 'DAYS_FIRST_DRAWING', 'DAYS_FIRST_DUE',
       'DAYS_LAST_DUE_1ST_VERSION', 'DAYS_LAST_DUE', 'DAYS_TERMINATION',
       'NFLAG_INSURED_ON_APPROVAL'],
      dtype='object')

       PREV_APPLICATION_NUMBER  APPLICATION_NUMBER  AMOUNT_ANNUITY  \
count             1.670214e+06        1.670214e+06    1.297979e+06
mean              4.919130e+07        1.236017e+08    1.595512e+04
std               5.325980e+05        1.028148e+05    1.478214e+04
min               4.826822e+07        1.234233e+08    0.000000e+00
25%               4.873007e+07        1.235127e+08    6.321780e+03
50%               4.919132e+07        1.236021e+08    1.125000e+04
75%               4.965249e+07        1.236909e+08    2.065842e+04
max               5.011360e+07        1.237796e+08    4.180581e+05

       AMT_APPLICATION  AMOUNT_CREDIT  AMOUNT_PAYMENT  AMOUNT_GOODS_PAYMENT  \
count     1.670214e+06   1.670213e+06    7.743700e+05          1.284699e+06
mean      1.752339e+05   1.961140e+05    6.697402e+03          2.278473e+05
std       2.927798e+05   3.185746e+05    2.092150e+04          3.153966e+05
min       0.000000e+00   0.000000e+00   -9.000000e-01          0.000000e+00
25%       1.872000e+04   2.416050e+04    0.000000e+00          5.084100e+04
50%       7.104600e+04   8.054100e+04    1.638000e+03          1.123200e+05
75%       1.803600e+05   2.164185e+05    7.740000e+03          2.340000e+05
max       6.905160e+06   6.905160e+06    3.060045e+06          6.905160e+06

       DAYS_DECISION  SELLERPLACE_AREA   CNT_PAYMENT  DAYS_FIRST_DRAWING  \
count   1.670214e+06      1.670214e+06  1.297984e+06       997149.000000
mean    8.806797e+02      3.139511e+02  1.605408e+01       342340.056543
std     7.790997e+02      7.127443e+03  1.456729e+01        88413.495220
min     1.000000e+00     -1.000000e+00  0.000000e+00            2.000000
25%     2.800000e+02     -1.000000e+00  6.000000e+00       365243.000000
50%     5.810000e+02      3.000000e+00  1.200000e+01       365243.000000
75%     1.300000e+03      8.200000e+01  2.400000e+01       365243.000000
max     2.922000e+03      4.000000e+06  8.400000e+01       365243.000000

       DAYS_FIRST_DUE  DAYS_LAST_DUE_1ST_VERSION  DAYS_LAST_DUE  \
count   997149.000000              997149.000000  997149.000000
mean     15949.224065               35163.363265   78152.730207
std      72007.270877              106405.950190  148833.342466
min          2.000000                   0.000000       2.000000
25%        475.000000                 257.000000     455.000000
50%        921.000000                 741.000000    1155.000000
75%       1825.000000                1735.000000    2418.000000
max     365243.000000              365243.000000  365243.000000

       DAYS_TERMINATION  NFLAG_INSURED_ON_APPROVAL
count     997149.000000              997149.000000
mean       83505.775017                   0.332570
std       152484.418802                   0.471134
min            2.000000                   0.000000
25%          447.000000                   0.000000
50%         1171.000000                   0.000000
75%         2501.000000                   1.000000
max       365243.000000                   1.000000

In [57]:
info_df(bki)

Размер:  (945234, 17)

   APPLICATION_NUMBER  BUREAU_ID CREDIT_ACTIVE CREDIT_CURRENCY  DAYS_CREDIT  \
0           123538884    5223613        Active      currency 1        718.0
1           123436670    6207544        Closed      currency 1        696.0
2           123589020    6326395        Closed      currency 1        165.0
3           123494590    6606618        Active      currency 1         55.0
4           123446603    5046832        Active      currency 1        358.0

   CREDIT_DAY_OVERDUE  DAYS_CREDIT_ENDDATE  DAYS_ENDDATE_FACT  \
0                   0                377.0                NaN
1                   0                511.0              511.0
2                   0                149.0              160.0
3                   0                310.0                NaN
4                   0                 35.0                NaN

   AMT_CREDIT_MAX_OVERDUE  CNT_CREDIT_PROLONG  AMT_CREDIT_SUM  \
0                19386.81                   0       675000.00
1                    0.00                   0        93111.66
2                     NaN                   0        36000.00
3                     NaN                   0        38664.00
4                     NaN                   0        67500.00

   AMT_CREDIT_SUM_DEBT  AMT_CREDIT_SUM_LIMIT  AMT_CREDIT_SUM_OVERDUE  \
0           320265.495                   0.0                     0.0
1                0.000                   0.0                     0.0
2                0.000                   0.0                     0.0
3            37858.500                   NaN                     0.0
4                0.000                   0.0                     0.0

       CREDIT_TYPE  DAYS_CREDIT_UPDATE  AMT_ANNUITY
0  Consumer credit                39.0          NaN
1  Consumer credit               505.0          NaN
2  Consumer credit               150.0          0.0
3  Consumer credit                15.0          NaN
4      Credit card               116.0          NaN

Заголовки Index(['APPLICATION_NUMBER', 'BUREAU_ID', 'CREDIT_ACTIVE', 'CREDIT_CURRENCY',
       'DAYS_CREDIT', 'CREDIT_DAY_OVERDUE', 'DAYS_CREDIT_ENDDATE',
       'DAYS_ENDDATE_FACT', 'AMT_CREDIT_MAX_OVERDUE', 'CNT_CREDIT_PROLONG',
       'AMT_CREDIT_SUM', 'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_LIMIT',
       'AMT_CREDIT_SUM_OVERDUE', 'CREDIT_TYPE', 'DAYS_CREDIT_UPDATE',
       'AMT_ANNUITY'],
      dtype='object')

       APPLICATION_NUMBER     BUREAU_ID    DAYS_CREDIT  CREDIT_DAY_OVERDUE  \
count        9.452340e+05  9.452340e+05  945234.000000       945234.000000
mean         1.236016e+08  5.974377e+06    1142.218231            0.769791
std          1.029041e+05  5.330431e+05     795.047305           35.173550
min          1.234233e+08  5.001084e+06       0.000000            0.000000
25%          1.235122e+08  5.513773e+06     474.000000            0.000000
50%          1.236014e+08  5.976502e+06     987.000000            0.000000
75%          1.236908e+08  6.435551e+06    1666.000000            0.000000
max          1.237796e+08  6.942186e+06    2922.000000         2792.000000

       DAYS_CREDIT_ENDDATE  DAYS_ENDDATE_FACT  AMT_CREDIT_MAX_OVERDUE  \
count        886797.000000      596274.000000            3.265570e+05
mean           1819.607174        1018.001196            3.784219e+03
std            4684.447770         715.013564            2.133823e+05
min               0.000000           0.000000            0.000000e+00
25%             383.000000         426.000000            0.000000e+00
50%             863.000000         897.000000            0.000000e+00
75%            1504.000000        1489.000000            0.000000e+00
max           42060.000000       42023.000000            1.159872e+08

       CNT_CREDIT_PROLONG  AMT_CREDIT_SUM  AMT_CREDIT_SUM_DEBT  \
count       945234.000000    9.452290e+05         8.034830e+05
mean             0.006330    3.547738e+05         1.361747e+05
std              0.094857    1.078781e+06         6.370282e+05
min              0.000000    0.000000e+00        -4.705600e+06
25%              0.000000    5.121000e+04         0.000000e+00
50%              0.000000    1.254708e+05         0.000000e+00
75%              0.000000    3.150000e+05         3.973275e+04
max              7.000000    3.960000e+08         6.544140e+07

       AMT_CREDIT_SUM_LIMIT  AMT_CREDIT_SUM_OVERDUE  DAYS_CREDIT_UPDATE  \
count          6.192670e+05            9.452340e+05       945234.000000
mean           6.267718e+03            3.826128e+01          594.056297
std            4.528027e+04            5.156032e+03          721.505604
min           -5.864061e+05            0.000000e+00            0.000000
25%            0.000000e+00            0.000000e+00           33.000000
50%            0.000000e+00            0.000000e+00          396.000000
75%            0.000000e+00            0.000000e+00          908.000000
max            4.705600e+06            2.387232e+06        41943.000000

        AMT_ANNUITY
count  2.693300e+05
mean   1.646679e+04
std    3.937657e+05
min    0.000000e+00
25%    0.000000e+00
50%    0.000000e+00
75%    1.350000e+04
max    1.184534e+08

In [58]:
info_df(payments)

Размер:  (1023932, 8)

   PREV_APPLICATION_NUMBER  APPLICATION_NUMBER  NUM_INSTALMENT_VERSION  \
0                 49011181           123664960                     1.0
1                 48683432           123497205                     1.0
2                 48652024           123749925                     1.0
3                 48398897           123550846                     0.0
4                 49867197           123562174                     0.0

   NUM_INSTALMENT_NUMBER  DAYS_INSTALMENT  DAYS_ENTRY_PAYMENT  AMT_INSTALMENT  \
0                      5           1002.0              1015.0       12156.615
1                     13            442.0               432.0       18392.535
2                     10              8.0                23.0        5499.945
3                     82            398.0               398.0        7082.145
4                     63           1359.0              1359.0         156.735

   AMT_PAYMENT
0    12156.615
1    10047.645
2     5499.945
3     7082.145
4      156.735

Заголовки Index(['PREV_APPLICATION_NUMBER', 'APPLICATION_NUMBER',
       'NUM_INSTALMENT_VERSION', 'NUM_INSTALMENT_NUMBER', 'DAYS_INSTALMENT',
       'DAYS_ENTRY_PAYMENT', 'AMT_INSTALMENT', 'AMT_PAYMENT'],
      dtype='object')

       PREV_APPLICATION_NUMBER  APPLICATION_NUMBER  NUM_INSTALMENT_VERSION  \
count             1.023932e+06        1.023932e+06            1.023932e+06
mean              4.917253e+07        1.236018e+08            8.569114e-01
std               5.363093e+05        1.027412e+05            1.053180e+00
min               4.826822e+07        1.234233e+08            0.000000e+00
25%               4.870325e+07        1.235130e+08            0.000000e+00
50%               4.916602e+07        1.236020e+08            1.000000e+00
75%               4.963797e+07        1.236910e+08            1.000000e+00
max               5.011171e+07        1.237796e+08            1.780000e+02

       NUM_INSTALMENT_NUMBER  DAYS_INSTALMENT  DAYS_ENTRY_PAYMENT  \
count           1.023932e+06     1.023932e+06        1.023729e+06
mean            1.888052e+01     1.042505e+03        1.051378e+03
std             2.669996e+01     8.013580e+02        8.009974e+02
min             1.000000e+00     2.000000e+00        2.000000e+00
25%             4.000000e+00     3.610000e+02        3.700000e+02
50%             8.000000e+00     8.170000e+02        8.260000e+02
75%             1.900000e+01     1.655000e+03        1.664000e+03
max             2.750000e+02     2.922000e+03        3.054000e+03

       AMT_INSTALMENT   AMT_PAYMENT
count    1.023932e+06  1.023729e+06
mean     1.714263e+04  1.733931e+04
std      5.130650e+04  5.557338e+04
min      0.000000e+00  0.000000e+00
25%      4.217445e+03  3.386205e+03
50%      8.878500e+03  8.115390e+03
75%      1.671229e+04  1.611140e+04
max      2.860377e+06  2.860377e+06

In [28]:
print(' train:     ', len(train['APPLICATION_NUMBER'].unique()), train.shape[0], '\n',
     'clien_profile: ', len(clien_profile['APPLICATION_NUMBER'].unique()), clien_profile.shape[0], '\n',
     'app_hist:      ', len(app_hist['APPLICATION_NUMBER'].unique()), app_hist.shape[0], '\n',
     'bki:           ', len(bki['APPLICATION_NUMBER'].unique()), bki.shape[0], '\n',
     'payments:      ', len(payments['APPLICATION_NUMBER'].unique()), payments.shape[0], '\n',
     )

 train:      110093 110093
 clien_profile:  250000 250000
 app_hist:       338857 1670214
 bki:            273131 945234
 payments:       264726 1023932

In [13]:
train['APPLICATION_NUMBER'].value_counts()

123716209    1
123441115    1
123709406    1
123711455    1
123619298    1
            ..
123669812    1
123667765    1
123671863    1
123432248    1
123469824    1
Name: APPLICATION_NUMBER, Length: 110093, dtype: int64

Объединим датасет train и профили клиентов по номеру заявки

In [167]:
train.shape

(110093, 3)

In [168]:
train = train.join(clien_profile.set_index('APPLICATION_NUMBER'), on='APPLICATION_NUMBER', how='left')

In [169]:
train.shape

(110093, 26)

In [170]:
train.head()

,APPLICATION_NUMBER,TARGET,NAME_CONTRACT_TYPE,GENDER,CHILDRENS,TOTAL_SALARY,AMOUNT_CREDIT,AMOUNT_ANNUITY,EDUCATION_LEVEL,FAMILY_STATUS,...,FAMILY_SIZE,EXTERNAL_SCORING_RATING_1,EXTERNAL_SCORING_RATING_2,EXTERNAL_SCORING_RATING_3,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,123687442,0,Cash,M,1.0,157500.0,855000.0,25128.0,Secondary / secondary special,Married,...,3.0,0.700784,0.645914,0.716570,0.0,0.0,1.0,0.0,0.0,2.0
1,123597908,1,Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,123526683,0,Cash,F,0.0,135000.0,1006920.0,42660.0,Higher education,Married,...,2.0,NaN,0.682149,0.267869,0.0,0.0,0.0,7.0,0.0,4.0
3,123710391,1,Cash,M,0.0,180000.0,518562.0,22972.5,Secondary / secondary special,Married,...,2.0,NaN,0.171299,0.170446,0.0,0.0,0.0,0.0,0.0,0.0
4,123590329,1,Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [171]:
train.describe(include='all')

,APPLICATION_NUMBER,TARGET,NAME_CONTRACT_TYPE,GENDER,CHILDRENS,TOTAL_SALARY,AMOUNT_CREDIT,AMOUNT_ANNUITY,EDUCATION_LEVEL,FAMILY_STATUS,...,FAMILY_SIZE,EXTERNAL_SCORING_RATING_1,EXTERNAL_SCORING_RATING_2,EXTERNAL_SCORING_RATING_3,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,1.100930e+05,110093.000000,110093,89539,89539.000000,8.953900e+04,8.953900e+04,89534.000000,89539,89539,...,89538.000000,39091.000000,89345.000000,71808.000000,77480.000000,77480.000000,77480.000000,77480.000000,77480.000000,77480.000000
unique,NaN,NaN,2,3,NaN,NaN,NaN,NaN,5,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,Cash,F,NaN,NaN,NaN,NaN,Secondary / secondary special,Married,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,99551,59077,NaN,NaN,NaN,NaN,63506,57236,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,1.235772e+08,0.080813,NaN,NaN,0.421034,1.683230e+05,5.997495e+05,27119.655449,NaN,NaN,...,2.157844,0.501400,0.513890,0.511020,0.006066,0.006776,0.034151,0.266585,0.265333,1.903601
std,8.880939e+04,0.272550,NaN,NaN,0.728803,9.962278e+04,4.031694e+05,14503.018565,NaN,NaN,...,0.915425,0.209929,0.191253,0.195153,0.083264,0.111512,0.206492,0.905296,0.614651,1.875062
min,1.234233e+08,0.000000,NaN,NaN,0.000000,2.565000e+04,4.500000e+04,1615.500000,NaN,NaN,...,1.000000,0.014691,0.000010,0.000527,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.235005e+08,0.000000,NaN,NaN,0.000000,1.125000e+05,2.700000e+05,16524.000000,NaN,NaN,...,2.000000,0.334582,0.391285,0.370650,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.235769e+08,0.000000,NaN,NaN,0.000000,1.485000e+05,5.177880e+05,24903.000000,NaN,NaN,...,2.000000,0.504836,0.565177,0.535276,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,1.236539e+08,0.000000,NaN,NaN,1.000000,2.025000e+05,8.086500e+05,34596.000000,NaN,NaN,...,3.000000,0.671532,0.663661,0.669057,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,1.237308e+08,1.000000,NaN,NaN,19.000000,4.500000e+06,4.050000e+06,225000.000000,NaN,NaN,...,20.000000,0.951624,0.855000,0.896010,3.000000,9.000000,8.000000,27.000000,8.000000,25.000000

Видим, что не по всем заявкам присутствуют данные о клиентах.

Нам это поможет?

Есть ли одобренные заявки без данных о клиенте?

In [92]:
target_0 = train.loc[train['TARGET'] == 0]
target_1 = train.loc[train['TARGET'] == 1]

In [104]:
target_0.loc[target_0['GENDER'].isnull()].shape[0]/target_0.shape[0]

0.1864204118739871

In [105]:
target_1.loc[target_1['GENDER'].isnull()].shape[0]/target_1.shape[0]

0.18983927166460604

Отношение заявок с незаполненными данными к общему числу заявок в одобренных и в не одобренных примерно одинаковое, это нам не поможет в обучении модели.

In [251]:
join_index = ['APPLICATION_NUMBER']
bki.loc[bki[join_index].duplicated()]

,APPLICATION_NUMBER,BUREAU_ID,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
597,123469853,6544366,Active,currency 1,384.0,0,347.0,NaN,NaN,0,515970.0,238090.5,0.0,0.0,Consumer credit,16.0,22563.00
928,123627360,5082283,Closed,currency 1,1515.0,0,419.0,1185.0,NaN,0,276277.5,0.0,0.0,0.0,Consumer credit,1183.0,NaN
930,123695993,5462021,Closed,currency 1,941.0,0,580.0,580.0,NaN,0,77265.0,0.0,0.0,0.0,Consumer credit,575.0,NaN
1188,123556974,6176314,Closed,currency 1,1066.0,0,761.0,765.0,NaN,0,59805.0,0.0,0.0,0.0,Consumer credit,765.0,5141.16
1818,123519026,5784895,Closed,currency 1,2749.0,0,1358.0,1743.0,18413.415,0,1104804.0,0.0,0.0,0.0,Car loan,1356.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945229,123673441,5235365,Closed,currency 1,2759.0,0,1298.0,1834.0,NaN,0,332725.5,0.0,NaN,0.0,Consumer credit,1707.0,NaN
945230,123539211,5899696,Active,currency 1,359.0,0,1467.0,NaN,NaN,0,1471500.0,1320183.0,0.0,0.0,Consumer credit,47.0,NaN
945231,123686333,5445504,Closed,currency 1,1102.0,0,725.0,370.0,NaN,0,112500.0,0.0,0.0,0.0,Consumer credit,233.0,NaN
945232,123508200,6679628,Active,currency 1,1579.0,0,2085.0,NaN,2339.955,0,108000.0,0.0,0.0,0.0,Credit card,16.0,NaN
945233,123616774,6037196,Closed,currency 1,1240.0,0,1127.0,1126.0,NaN,0,74250.0,0.0,NaN,0.0,Consumer credit,1012.0,0.00

Просто объединить наборы данных по номеру заявки не получится, т.к. присутствуют дубликаты. Посмотрим дубликаты для того чтобы понять как их использовать.

In [207]:
pd.set_option('display.max_rows', 103)

In [253]:
dubl_app = bki.loc[bki[join_index].duplicated(), 'APPLICATION_NUMBER'].values
bki.loc[bki['APPLICATION_NUMBER'].isin(dubl_app)].sort_values(join_index)

,APPLICATION_NUMBER,BUREAU_ID,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
281301,123423340,5921341,Active,currency 1,559.0,0,902.0,NaN,NaN,0,337680.000,113166.00,0.000,0.0,Consumer credit,6.0,4630.5
243230,123423340,5977045,Active,currency 1,320.0,0,411.0,NaN,NaN,0,168345.000,110281.50,NaN,0.0,Consumer credit,10.0,9364.5
540271,123423341,6164664,Closed,currency 1,645.0,0,85.0,36.0,5043.645,0,120735.000,0.00,0.000,0.0,Consumer credit,34.0,0.0
70768,123423341,6206134,Active,currency 1,103.0,0,NaN,NaN,40.500,0,31988.565,0.00,31988.565,0.0,Credit card,24.0,0.0
492691,123423341,6226978,Active,currency 1,1042.0,0,780.0,NaN,NaN,0,450000.000,245781.00,0.000,0.0,Consumer credit,7.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217996,123779594,5202182,Active,currency 1,363.0,0,1463.0,NaN,0.000,0,436032.000,363573.54,0.000,0.0,Consumer credit,25.0,0.0
173541,123779594,5225333,Closed,currency 1,1022.0,0,959.0,958.0,NaN,0,22995.000,0.00,0.000,0.0,Consumer credit,890.0,0.0
660891,123779594,5209371,Closed,currency 1,970.0,0,621.0,712.0,NaN,0,27472.500,0.00,0.000,0.0,Consumer credit,700.0,NaN
33351,123779594,5128415,Closed,currency 1,2337.0,0,1243.0,1621.0,16618.500,0,450000.000,NaN,NaN,0.0,Consumer credit,1621.0,0.0
824977,123779594,5208512,Closed,currency 1,1021.0,0,959.0,959.0,NaN,0,22995.000,0.00,NaN,0.0,Consumer credit,953.0,3244.5

In [255]:
# Есть активные кредиты
train['exists_activ_credit'] = train['APPLICATION_NUMBER'].isin(
                                                            bki.loc[bki['CREDIT_ACTIVE'] == 'Active', 
                                                                    'APPLICATION_NUMBER'].values
                                                                )

# Есть закрытые кредиты
train['exists_closed_credit'] = train['APPLICATION_NUMBER'].isin(
                                                            bki.loc[bki['CREDIT_ACTIVE'] == 'Closed', 
                                                                    'APPLICATION_NUMBER'].values
                                                                )
# Были или есть кредиты в валюте 1
train['currency_1'] =  train['APPLICATION_NUMBER'].isin(
                                                        bki.loc[bki['CREDIT_CURRENCY'] == 'currency 1', 
                                                                    'APPLICATION_NUMBER'].values
                                                                )
# Были или есть кредиты в валюте 2
train['currency_2'] =  train['APPLICATION_NUMBER'].isin(
                                                        bki.loc[bki['CREDIT_CURRENCY'] == 'currency 2', 
                                                                    'APPLICATION_NUMBER'].values
                                                                )
# Были или есть кредиты в валюте 3
train['currency_3'] =  train['APPLICATION_NUMBER'].isin(
                                                        bki.loc[bki['CREDIT_CURRENCY'] == 'currency 3', 
                                                                    'APPLICATION_NUMBER'].values
                                                                )
# Были или есть кредиты в валюте 4
train['currency_4'] =  train['APPLICATION_NUMBER'].isin(
                                                        bki.loc[bki['CREDIT_CURRENCY'] == 'currency 4', 
                                                                    'APPLICATION_NUMBER'].values
                                                                )
# Были просрочки по кредиту
train['EXISTS_OVERDUE'] =  train['APPLICATION_NUMBER'].isin(
                                                        bki.loc[bki['CREDIT_DAY_OVERDUE'] > 0, 
                                                                    'APPLICATION_NUMBER'].values
                                                                )
# Былf пролонгация кредита
train['EXISTS_CREDIT_PROLONG'] =  train['APPLICATION_NUMBER'].isin(
                                                        bki.loc[bki['CNT_CREDIT_PROLONG'] > 0, 
                                                                    'APPLICATION_NUMBER'].values
                                                                )
# Былf пролонгация кредита
train['EXISTS_CREDIT_PROLONG'] =  train['APPLICATION_NUMBER'].isin(
                                                        bki.loc[bki['CNT_CREDIT_PROLONG'] > 0, 
                                                                    'APPLICATION_NUMBER'].values
                                                                )CREDIT_TYPE

0         False
1          True
2          True
3         False
4          True
          ...
110088    False
110089     True
110090    False
110091    False
110092     True
Name: APPLICATION_NUMBER, Length: 110093, dtype: bool

In [302]:
def add_min_max_mean_param(i_df_main, i_df, column):
    # Средний срок кредита
#     df_tmp = i_df.groupby('APPLICATION_NUMBER')[column].mean()
    i_df_main[f'{column}_mean'] = i_df.groupby('APPLICATION_NUMBER')[column].mean()
    i_df_main[f'{column}_min'] = i_df.groupby('APPLICATION_NUMBER')[column].min()
    i_df_main[f'{column}_max'] = i_df.groupby('APPLICATION_NUMBER')[column].max()
#     print(type(df_tmp))
#     df_tmp.rename(columns={ column: f'{column}_mean' }, inplace=True) 
#     re = i_df_main.join(df_tmp, on='APPLICATION_NUMBER', how='left')
#     # Минимальный срок кредита
#     df_tmp = i_df.groupby('APPLICATION_NUMBER')[column].min()
#     df_tmp.columns = f'{column}_min'
#     i_df_main.join(df_tmp, on='APPLICATION_NUMBER', how='left')
#     # Максимальный срок кредита
#     df_tmp = i_df.groupby('APPLICATION_NUMBER')[column].max()
#     df_tmp.columns = f'{column}_max'
#     i_df_main.join(df_tmp, on='APPLICATION_NUMBER', how='left')
    return(i_df_main)

In [256]:
# Количество активных кредитов 
bki.loc[bki['CREDIT_ACTIVE'] == 'Active'].groupby('APPLICATION_NUMBER')['APPLICATION_NUMBER'].count()
# Количество закрытых кредитов 
bki.loc[bki['CREDIT_ACTIVE'] == 'Closed'].groupby('APPLICATION_NUMBER')['APPLICATION_NUMBER'].count()

# Средний срок кредита
bki.groupby('APPLICATION_NUMBER')['DAYS_CREDIT'].mean()
# Минимальный срок кредита
bki.groupby('APPLICATION_NUMBER')['DAYS_CREDIT'].min()
# Максимальный срок кредита
bki.groupby('APPLICATION_NUMBER')['DAYS_CREDIT'].max()

# Средний срок кредита
bki.groupby('APPLICATION_NUMBER')['DAYS_CREDIT_ENDDATE'].mean()
# Минимальный срок кредита
bki.groupby('APPLICATION_NUMBER')['DAYS_CREDIT_ENDDATE'].min()
# Максимальный срок кредита
bki.groupby('APPLICATION_NUMBER')['DAYS_CREDIT_ENDDATE'].max()

# Средний срок кредита
bki.groupby('APPLICATION_NUMBER')['DAYS_ENDDATE_FACT'].mean()
# Минимальный срок кредита
bki.groupby('APPLICATION_NUMBER')['DAYS_ENDDATE_FACT'].min()
# Максимальный срок кредита
bki.groupby('APPLICATION_NUMBER')['DAYS_ENDDATE_FACT'].max()

# Минимальная просрочка по кредиту
bki.groupby('APPLICATION_NUMBER')['CREDIT_DAY_OVERDUE'].min()
# Максимальная просрочка по кредиту
bki.groupby('APPLICATION_NUMBER')['CREDIT_DAY_OVERDUE'].max()
# Средняя просрочка по кредиту
bki.groupby('APPLICATION_NUMBER')['CREDIT_DAY_OVERDUE'].mean()

# Средний срок кредита
bki.groupby('APPLICATION_NUMBER')['AMT_CREDIT_MAX_OVERDUE'].mean()
# Минимальный срок кредита
bki.groupby('APPLICATION_NUMBER')['AMT_CREDIT_MAX_OVERDUE'].min()
# Максимальный срок кредита
bki.groupby('APPLICATION_NUMBER')['AMT_CREDIT_MAX_OVERDUE'].max()

# Минимальная просрочка по кредиту
bki.groupby('APPLICATION_NUMBER')['AMT_CREDIT_SUM'].min()
# Максимальная просрочка по кредиту
bki.groupby('APPLICATION_NUMBER')['AMT_CREDIT_SUM'].max()
# Средняя просрочка по кредиту
bki.groupby('APPLICATION_NUMBER')['AMT_CREDIT_SUM'].mean()

# Минимальная просрочка по кредиту
bki.groupby('APPLICATION_NUMBER')['AMT_CREDIT_SUM_DEBT'].min()
# Максимальная просрочка по кредиту
bki.groupby('APPLICATION_NUMBER')['AMT_CREDIT_SUM_DEBT'].max()
# Средняя просрочка по кредиту
bki.groupby('APPLICATION_NUMBER')['AMT_CREDIT_SUM_DEBT'].mean()

# Минимальная просрочка по кредиту
bki.groupby('APPLICATION_NUMBER')['AMT_CREDIT_SUM_LIMIT'].min()
# Максимальная просрочка по кредиту
bki.groupby('APPLICATION_NUMBER')['AMT_CREDIT_SUM_LIMIT'].max()
# Средняя просрочка по кредиту
bki.groupby('APPLICATION_NUMBER')['AMT_CREDIT_SUM_LIMIT'].mean()

# Минимальная просрочка по кредиту
bki.groupby('APPLICATION_NUMBER')['AMT_CREDIT_SUM_OVERDUE'].min()
# Максимальная просрочка по кредиту
bki.groupby('APPLICATION_NUMBER')['AMT_CREDIT_SUM_OVERDUE'].max()
# Средняя просрочка по кредиту
bki.groupby('APPLICATION_NUMBER')['AMT_CREDIT_SUM_OVERDUE'].mean()

# Минимальная просрочка по кредиту
bki.groupby('APPLICATION_NUMBER')['DAYS_CREDIT_UPDATE'].min()
# Максимальная просрочка по кредиту
bki.groupby('APPLICATION_NUMBER')['DAYS_CREDIT_UPDATE'].max()
# Средняя просрочка по кредиту
bki.groupby('APPLICATION_NUMBER')['DAYS_CREDIT_UPDATE'].mean()

APPLICATION_NUMBER
123423340    2
123423341    2
123423348    3
123423355    1
123423358    2
            ..
123779585    1
123779586    2
123779588    2
123779592    2
123779594    2
Name: APPLICATION_NUMBER, Length: 194407, dtype: int64

In [262]:
tmp = train.copy()

In [282]:
df_tmp = bki.groupby('APPLICATION_NUMBER')['DAYS_CREDIT_UPDATE'].max()
df_tmp.columns = 'DAYS_CREDIT_UPDATE_max'
df_tmp
# tmp.join(df_tmp, on='APPLICATION_NUMBER', how='left')

APPLICATION_NUMBER
123423340      10.0
123423341    1185.0
123423342    2131.0
123423343     382.0
123423344     121.0
              ...
123779588    2498.0
123779589     127.0
123779592     179.0
123779593     401.0
123779594    1621.0
Name: DAYS_CREDIT_UPDATE, Length: 273131, dtype: float64

In [307]:
bki.groupby('APPLICATION_NUMBER')['AMT_CREDIT_SUM_LIMIT'].mean()

APPLICATION_NUMBER
123423340       0.00000
123423341    7997.14125
123423342       0.00000
123423343       0.00000
123423344       0.00000
                ...
123779588       0.00000
123779589       0.00000
123779592       0.00000
123779593           NaN
123779594       0.00000
Name: AMT_CREDIT_SUM_LIMIT, Length: 273131, dtype: float64

In [303]:
add_min_max_mean_param(tmp, bki, 'AMT_CREDIT_SUM_LIMIT')

,APPLICATION_NUMBER,TARGET,NAME_CONTRACT_TYPE,GENDER,CHILDRENS,TOTAL_SALARY,AMOUNT_CREDIT,AMOUNT_ANNUITY,EDUCATION_LEVEL,FAMILY_STATUS,...,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,{column}_mean,AMT_CREDIT_SUM_LIMIT_mean,AMT_CREDIT_SUM_LIMIT_min,AMT_CREDIT_SUM_LIMIT_max
0,123687442,0,1,1.0,1.0,157500.0,855000.0,25128.0,1.0,1.0,...,0.0,0.0,1.0,0.0,0.0,2.0,NaN,NaN,NaN,NaN
1,123597908,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,123526683,0,1,3.0,0.0,135000.0,1006920.0,42660.0,3.0,1.0,...,0.0,0.0,0.0,7.0,0.0,4.0,NaN,NaN,NaN,NaN
3,123710391,1,1,1.0,0.0,180000.0,518562.0,22972.5,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,123590329,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110088,123458312,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110089,123672463,0,1,3.0,0.0,175500.0,269550.0,12618.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,2.0,NaN,NaN,NaN,NaN
110090,123723001,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110091,123554358,0,1,3.0,2.0,270000.0,1024740.0,49428.0,5.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN
110092,123676265,0,2,3.0,1.0,112500.0,337500.0,16875.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [269]:
tmp

,APPLICATION_NUMBER,TARGET,NAME_CONTRACT_TYPE,GENDER,CHILDRENS,TOTAL_SALARY,AMOUNT_CREDIT,AMOUNT_ANNUITY,EDUCATION_LEVEL,FAMILY_STATUS,...,FAMILY_SIZE,EXTERNAL_SCORING_RATING_1,EXTERNAL_SCORING_RATING_2,EXTERNAL_SCORING_RATING_3,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,123687442,0,1,1.0,1.0,157500.0,855000.0,25128.0,1.0,1.0,...,3.0,0.700784,0.645914,0.716570,0.0,0.0,1.0,0.0,0.0,2.0
1,123597908,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,123526683,0,1,3.0,0.0,135000.0,1006920.0,42660.0,3.0,1.0,...,2.0,NaN,0.682149,0.267869,0.0,0.0,0.0,7.0,0.0,4.0
3,123710391,1,1,1.0,0.0,180000.0,518562.0,22972.5,1.0,1.0,...,2.0,NaN,0.171299,0.170446,0.0,0.0,0.0,0.0,0.0,0.0
4,123590329,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110088,123458312,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110089,123672463,0,1,3.0,0.0,175500.0,269550.0,12618.0,1.0,1.0,...,2.0,0.528096,0.471774,0.581484,0.0,0.0,0.0,0.0,0.0,2.0
110090,123723001,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110091,123554358,0,1,3.0,2.0,270000.0,1024740.0,49428.0,5.0,1.0,...,4.0,0.653826,0.651227,0.558507,0.0,0.0,0.0,1.0,0.0,1.0
110092,123676265,0,2,3.0,1.0,112500.0,337500.0,16875.0,1.0,1.0,...,3.0,NaN,0.552043,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [263]:
# Средняя просрочка по кредиту
tmp.join(bki.groupby('APPLICATION_NUMBER')['DAYS_CREDIT_UPDATE'].mean(), on='APPLICATION_NUMBER', how='left')

,APPLICATION_NUMBER,TARGET,NAME_CONTRACT_TYPE,GENDER,CHILDRENS,TOTAL_SALARY,AMOUNT_CREDIT,AMOUNT_ANNUITY,EDUCATION_LEVEL,FAMILY_STATUS,...,EXTERNAL_SCORING_RATING_1,EXTERNAL_SCORING_RATING_2,EXTERNAL_SCORING_RATING_3,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,DAYS_CREDIT_UPDATE
0,123687442,0,1,1.0,1.0,157500.0,855000.0,25128.0,1.0,1.0,...,0.700784,0.645914,0.716570,0.0,0.0,1.0,0.0,0.0,2.0,2162.000000
1,123597908,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,249.777778
2,123526683,0,1,3.0,0.0,135000.0,1006920.0,42660.0,3.0,1.0,...,NaN,0.682149,0.267869,0.0,0.0,0.0,7.0,0.0,4.0,736.222222
3,123710391,1,1,1.0,0.0,180000.0,518562.0,22972.5,1.0,1.0,...,NaN,0.171299,0.170446,0.0,0.0,0.0,0.0,0.0,0.0,1400.000000
4,123590329,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,370.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110088,123458312,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.000000
110089,123672463,0,1,3.0,0.0,175500.0,269550.0,12618.0,1.0,1.0,...,0.528096,0.471774,0.581484,0.0,0.0,0.0,0.0,0.0,2.0,167.000000
110090,123723001,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,959.333333
110091,123554358,0,1,3.0,2.0,270000.0,1024740.0,49428.0,5.0,1.0,...,0.653826,0.651227,0.558507,0.0,0.0,0.0,1.0,0.0,1.0,787.333333
110092,123676265,0,2,3.0,1.0,112500.0,337500.0,16875.0,1.0,1.0,...,NaN,0.552043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.500000

In [ ]:
DAYS_CREDIT

In [260]:
bki.groupby('CREDIT_TYPE')['CREDIT_TYPE'].count()

CREDIT_TYPE
Another type of loan                               586
Car loan                                         15348
Cash loan (non-earmarked)                           31
Consumer credit                                 688431
Credit card                                     222238
Loan for business development                     1055
Loan for purchase of shares (margin lending)         4
Loan for the purchase of equipment                  14
Loan for working capital replenishment             261
Microloan                                         6788
Mobile operator loan                                 1
Mortgage                                         10161
Real estate loan                                    16
Unknown type of loan                               300
Name: CREDIT_TYPE, dtype: int64

In [172]:
# Объединяем train и bki
# train = 
train.join(bki.set_index('APPLICATION_NUMBER'), on='APPLICATION_NUMBER', how='left').shape
# train.head()
# Простое объединение не подходит, есть дубликаты по APPLICATION_NUMBER

(317272, 42)

In [81]:
app_hist.head()

,PREV_APPLICATION_NUMBER,APPLICATION_NUMBER,NAME_CONTRACT_TYPE,AMOUNT_ANNUITY,AMT_APPLICATION,AMOUNT_CREDIT,AMOUNT_PAYMENT,AMOUNT_GOODS_PAYMENT,NAME_CONTRACT_STATUS,DAYS_DECISION,...,NAME_PRODUCT_TYPE,SELLERPLACE_AREA,CNT_PAYMENT,NAME_YIELD_GROUP,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,49298709,123595216,NaN,1730.430,17145.0,17145.0,0.0,17145.0,Approved,73,...,XNA,35,12.0,middle,365243.0,42.0,300.0,42.0,37.0,0.0
1,50070639,123431468,Cash,25188.615,607500.0,679671.0,NaN,607500.0,Approved,164,...,x-sell,-1,36.0,low_action,365243.0,134.0,916.0,365243.0,365243.0,1.0
2,49791680,123445379,Cash,15060.735,112500.0,136444.5,NaN,112500.0,Approved,301,...,x-sell,-1,12.0,high,365243.0,271.0,59.0,365243.0,365243.0,1.0
3,50087457,123499497,Cash,47041.335,450000.0,470790.0,NaN,450000.0,Approved,512,...,x-sell,-1,12.0,middle,365243.0,482.0,152.0,182.0,177.0,1.0
4,49052479,123525393,Cash,31924.395,337500.0,404055.0,NaN,337500.0,Refused,781,...,walk-in,-1,24.0,high,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
app_hist.shape

(1670214, 26)

In [210]:
join_index = ['APPLICATION_NUMBER', 'PREV_APPLICATION_NUMBER']
app_hist.loc[app_hist.duplicated(join_index)]

Empty DataFrame
Columns: [PREV_APPLICATION_NUMBER, APPLICATION_NUMBER, NAME_CONTRACT_TYPE, AMOUNT_ANNUITY, AMT_APPLICATION, AMOUNT_CREDIT, AMOUNT_PAYMENT, AMOUNT_GOODS_PAYMENT, NAME_CONTRACT_STATUS, DAYS_DECISION, NAME_PAYMENT_TYPE, CODE_REJECT_REASON, NAME_TYPE_SUITE, NAME_CLIENT_TYPE, NAME_GOODS_CATEGORY, NAME_PORTFOLIO, NAME_PRODUCT_TYPE, SELLERPLACE_AREA, CNT_PAYMENT, NAME_YIELD_GROUP, DAYS_FIRST_DRAWING, DAYS_FIRST_DUE, DAYS_LAST_DUE_1ST_VERSION, DAYS_LAST_DUE, DAYS_TERMINATION, NFLAG_INSURED_ON_APPROVAL]
Index: []

[0 rows x 26 columns]

In [212]:
payments.shape

(1023932, 8)

In [222]:
unic_app = payments.loc[payments.duplicated(join_index), 'APPLICATION_NUMBER'].unique()

In [223]:
payments.loc[payments['APPLICATION_NUMBER'].isin(unic_app)].sort_values(join_index)

,PREV_APPLICATION_NUMBER,APPLICATION_NUMBER,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
19819,48637907,123423340,2.0,4,1619.0,1628.0,17397.900,17397.900
355515,48637907,123423340,1.0,3,1649.0,1660.0,3951.000,3951.000
164049,48307032,123423341,1.0,8,355.0,375.0,9251.775,9251.775
397014,48307032,123423341,1.0,17,85.0,99.0,9251.775,9251.775
132910,48960247,123423346,1.0,7,164.0,166.0,16037.640,16037.640
...,...,...,...,...,...,...,...,...
941441,48447904,123779594,1.0,14,272.0,268.0,28873.170,27184.050
153451,49899598,123779594,3.0,13,396.0,404.0,27489.690,27489.690
260396,49899598,123779594,3.0,11,456.0,465.0,27489.690,27489.690
460610,49899598,123779594,3.0,12,426.0,435.0,27489.690,27489.690
881600,49899598,123779594,3.0,21,156.0,160.0,27489.690,27489.690

In [106]:
count_app = app_hist.groupby('APPLICATION_NUMBER')['APPLICATION_NUMBER'].count()
count_app

APPLICATION_NUMBER
123423340    1
123423341    1
123423342    3
123423343    1
123423344    2
            ..
123779590    1
123779591    1
123779592    2
123779593    2
123779594    8
Name: APPLICATION_NUMBER, Length: 338857, dtype: int64

In [107]:
count_app = app_hist.groupby('PREV_APPLICATION_NUMBER')['APPLICATION_NUMBER'].count()
count_app

PREV_APPLICATION_NUMBER
48268215    1
48268216    1
48268217    1
48268218    1
48268219    1
           ..
50113591    1
50113592    1
50113593    1
50113595    1
50113596    1
Name: APPLICATION_NUMBER, Length: 1670214, dtype: int64

У нас есть данные о предыдущих заявках. Следовательно:

    1. Если у нас нет данных о клиенте, мы можем посмотреть их по предыдущим заявкам;
    
    2. Можем получить дополнительные данные: отношение одобренных заявкок к не одобренным, общее число заявок, средняя сумма заявок и т.д.;

Наборы данных payments и app_hist содержат поля по которым их можно объединить (APPLICATION_NUMBER, PREV_APPLICATION_NUMBER)

In [135]:
join_index = ['APPLICATION_NUMBER', 'PREV_APPLICATION_NUMBER']
app_hist = payments.join(app_hist.set_index(join_index), on=join_index, how='outer')

На основе этих данных можно расширить наш набор данных для обучения. Таргет выставлять будем следующим образом. Если есть информация о платеже, значит заявку одобрили, в противном случае заявку отклонили.

In [213]:
unique_app = app_hist['APPLICATION_NUMBER'].unique()

In [214]:
person = [[i, k] for i, k in enumerate(unique_app)]
person

[[0, 123595216],
 [1, 123431468],
 [2, 123445379],
 [3, 123499497],
 [4, 123525393],
 [5, 123522722],
 [6, 123499043],
 [7, 123619638],
 [8, 123665631],
 [9, 123657688],
 [10, 123771051],
 [11, 123484479],
 [12, 123581967],
 [13, 123645015],
 [14, 123593997],
 [15, 123474951],
 [16, 123477941],
 [17, 123466087],
 [18, 123719644],
 [19, 123522517],
 [20, 123489829],
 [21, 123591121],
 [22, 123625551],
 [23, 123522692],
 [24, 123599046],
 [25, 123662064],
 [26, 123756808],
 [27, 123741722],
 [28, 123639003],
 [29, 123493628],
 [30, 123505789],
 [31, 123581185],
 [32, 123716850],
 [33, 123578670],
 [34, 123531339],
 [35, 123501714],
 [36, 123484930],
 [37, 123448496],
 [38, 123604928],
 [39, 123581415],
 [40, 123570911],
 [41, 123511753],
 [42, 123627794],
 [43, 123442313],
 [44, 123604809],
 [45, 123770760],
 [46, 123559076],
 [47, 123579856],
 [48, 123524060],
 [49, 123622730],
 [50, 123486999],
 [51, 123576730],
 [52, 123694779],
 [53, 123520682],
 [54, 123706984],
 [55, 123614315],
 [56, 123769599],
 [57, 123606866],
 [58, 123754722],
 [59, 123758975],
 [60, 123698107],
 [61, 123544485],
 [62, 123460518],
 [63, 123592578],
 [64, 123693258],
 [65, 123730826],
 [66, 123676425],
 [67, 123520783],
 [68, 123672099],
 [69, 123696309],
 [70, 123528516],
 [71, 123750871],
 [72, 123765942],
 [73, 123692762],
 [74, 123606094],
 [75, 123727444],
 [76, 123774493],
 [77, 123539528],
 [78, 123753707],
 [79, 123605464],
 [80, 123777702],
 [81, 123666330],
 [82, 123568305],
 [83, 123564178],
 [84, 123630046],
 [85, 123757253],
 [86, 123684023],
 [87, 123581675],
 [88, 123717725],
 [89, 123533922],
 [90, 123597240],
 [91, 123604925],
 [92, 123444193],
 [93, 123643783],
 [94, 123738391],
 [95, 123457192],
 [96, 123514915],
 [97, 123631331],
 [98, 123526806],
 [99, 123767364],
 [100, 123450963],
 [101, 123546889],
 [102, 123442878],
 [103, 123465028],
 [104, 123745805],
 [105, 123579137],
 [106, 123501684],
 [107, 123595518],
 [108, 123688600],
 [109, 123768670],
 [110, 123541151],
 [111, 123757781],
 [112, 123750706],
 [113, 123424868],
 [114, 123587849],
 [115, 123671963],
 [116, 123649974],
 [117, 123476356],
 [118, 123438436],
 [119, 123509971],
 [120, 123615746],
 [121, 123627061],
 [122, 123703900],
 [123, 123634517],
 [124, 123484010],
 [125, 123511651],
 [126, 123616643],
 [127, 123591795],
 [128, 123690570],
 [129, 123600109],
 [130, 123429425],
 [131, 123525725],
 [132, 123593200],
 [133, 123585778],
 [134, 123760070],
 [135, 123458686],
 [136, 123528921],
 [137, 123670222],
 [138, 123502719],
 [139, 123730178],
 [140, 123539497],
 [141, 123599576],
 [142, 123577060],
 [143, 123551247],
 [144, 123450624],
 [145, 123519029],
 [146, 123454988],
 [147, 123742429],
 [148, 123571556],
 [149, 123592663],
 [150, 123716496],
 [151, 123696284],
 [152, 123550487],
 [153, 123656063],
 [154, 123447290],
 [155, 123658556],
 [156, 123552549],
 [157, 123660542],
 [158, 123540531],
 [159, 123665411],
 [160, 123595859],
 [161, 123569892],
 [162, 123496593],
 [163, 123435156],
 [164, 123581723],
 [165, 123434052],
 [166, 123675292],
 [167, 123586251],
 [168, 123431017],
 [169, 123599115],
 [170, 123659969],
 [171, 123670766],
 [172, 123554278],
 [173, 123472172],
 [174, 123541826],
 [175, 123742198],
 [176, 123705457],
 [177, 123729124],
 [178, 123530425],
 [179, 123777939],
 [180, 123564161],
 [181, 123595258],
 [182, 123694260],
 [183, 123503105],
 [184, 123465110],
 [185, 123726446],
 [186, 123519906],
 [187, 123660036],
 [188, 123632025],
 [189, 123617691],
 [190, 123526903],
 [191, 123492153],
 [192, 123681333],
 [193, 123760943],
 [194, 123656637],
 [195, 123660294],
 [196, 123618833],
 [197, 123470593],
 [198, 123639455],
 [199, 123493950],
 [200, 123639415],
 [201, 123493193],
 [202, 123509610],
 [203, 123579799],
 [204, 123514817],
 [205, 123461796],
 [206, 123465761],
 [207, 123458602],
 [208, 123608166],
 [209, 123671720],
 [210, 123534163],
 [211, 123446439],
 [212, 123758214],
 [213, 123526589],
 [214, 123520808],
 [215, 123666545],
 [216, 123568281],
 [217, 123483982],
 [218, 123677727],
 [219, 123635368],
 [220, 123727264],
 [221, 123482989],
 [222, 123615930],
 [223, 123753699],
 [224, 123653288],
 [225, 123772537],
 [226, 123709658],
 [227, 123451042],
 [228, 123744427],
 [229, 123511014],
 [230, 123465984],
 [231, 123445026],
 [232, 123588648],
 [233, 123755466],
 [234, 123583493],
 [235, 123626811],
 [236, 123656576],
 [237, 123621394],
 [238, 123719473],
 [239, 123571339],
 [240, 123437016],
 [241, 123657909],
 [242, 123530958],
 [243, 123750959],
 [244, 123515814],
 [245, 123672690],
 [246, 123503732],
 [247, 123695594],
 [248, 123672198],
 [249, 123589096],
 [250, 123682041],
 [251, 123715647],
 [252, 123752671],
 [253, 123582649],
 [254, 123772019],
 [255, 123628947],
 [256, 123442216],
 [257, 123487300],
 [258, 123721131],
 [259, 123764315],
 [260, 123531485],
 [261, 123653464],
 [262, 123647801],
 [263, 123504419],
 [264, 123561299],
 [265, 123748018],
 [266, 123423712],
 [267, 123639383],
 [268, 123456778],
 [269, 123583681],
 [270, 123776544],
 [271, 123509000],
 [272, 123622239],
 [273, 123475996],
 [274, 123595811],
 [275, 123462487],
 [276, 123492280],
 [277, 123472846],
 [278, 123550798],
 [279, 123507916],
 [280, 123779251],
 [281, 123464266],
 [282, 123646473],
 [283, 123563195],
 [284, 123640863],
 [285, 123482571],
 [286, 123567410],
 [287, 123764029],
 [288, 123746700],
 [289, 123569557],
 [290, 123592803],
 [291, 123534390],
 [292, 123705245],
 [293, 123603427],
 [294, 123429254],
 [295, 123636900],
 [296, 123675747],
 [297, 123766534],
 [298, 123478709],
 [299, 123646755],
 [300, 123460390],
 [301, 123718646],
 [302, 123667296],
 [303, 123610234],
 [304, 123734615],
 [305, 123592219],
 [306, 123463317],
 [307, 123482949],
 [308, 123756572],
 [309, 123777887],
 [310, 123553660],
 [311, 123602368],
 [312, 123672803],
 [313, 123737273],
 [314, 123520965],
 [315, 123530104],
 [316, 123631664],
 [317, 123688754],
 [318, 123681525],
 [319, 123704507],
 [320, 123487337],
 [321, 123645699],
 [322, 123596717],
 [323, 123547332],
 [324, 123659538],
 [325, 123772400],
 [326, 123456405],
 [327, 123623740],
 [328, 123659555],
 [329, 123457349],
 [330, 123643581],
 [331, 123585072],
 [332, 123542808],
 [333, 123700406],
 [334, 123458414],
 [335, 123633878],
 [336, 123478974],
 [337, 123491967],
 [338, 123477868],
 [339, 123476527],
 [340, 123674181],
 [341, 123546523],
 [342, 123480380],
 [343, 123695872],
 [344, 123749302],
 [345, 123616673],
 [346, 123739599],
 [347, 123453768],
 [348, 123703878],
 [349, 123467379],
 [350, 123772369],
 [351, 123445188],
 [352, 123725685],
 [353, 123479118],
 [354, 123747247],
 [355, 123758056],
 [356, 123484754],
 [357, 123610700],
 [358, 123466455],
 [359, 123646990],
 [360, 123711740],
 [361, 123730548],
 [362, 123652093],
 [363, 123465253],
 [364, 123562484],
 [365, 123520093],
 [366, 123540342],
 [367, 123513973],
 [368, 123718301],
 [369, 123695616],
 [370, 123712575],
 [371, 123467401],
 [372, 123492724],
 [373, 123539176],
 [374, 123577029],
 [375, 123425988],
 [376, 123538266],
 [377, 123626406],
 [378, 123666110],
 [379, 123730389],
 [380, 123655721],
 [381, 123644681],
 [382, 123527421],
 [383, 123581409],
 [384, 123718901],
 [385, 123554346],
 [386, 123576244],
 [387, 123609751],
 [388, 123677728],
 [389, 123742336],
 [390, 123524295],
 [391, 123726667],
 [392, 123737820],
 [393, 123598179],
 [394, 123658937],
 [395, 123700955],
 [396, 123589899],
 [397, 123428165],
 [398, 123775373],
 [399, 123587321],
 [400, 123530201],
 [401, 123571813],
 [402, 123425431],
 [403, 123607838],
 [404, 123766253],
 [405, 123554618],
 [406, 123500977],
 [407, 123518993],
 [408, 123626831],
 [409, 123586973],
 [410, 123523954],
 [411, 123751110],
 [412, 123757087],
 [413, 123647240],
 [414, 123455884],
 [415, 123749131],
 [416, 123583665],
 [417, 123444378],
 [418, 123639745],
 [419, 123456257],
 [420, 123564120],
 [421, 123485197],
 [422, 123764611],
 [423, 123536687],
 [424, 123515565],
 [425, 123672789],
 [426, 123497677],
 [427, 123586750],
 [428, 123540600],
 [429, 123661450],
 [430, 123528414],
 [431, 123746787],
 [432, 123606776],
 [433, 123506679],
 [434, 123548382],
 [435, 123500610],
 [436, 123451284],
 [437, 123704170],
 [438, 123584835],
 [439, 123512543],
 [440, 123550542],
 [441, 123542663],
 [442, 123753235],
 [443, 123540150],
 [444, 123750933],
 [445, 123636758],
 [446, 123703485],
 [447, 123440756],
 [448, 123530691],
 [449, 123457930],
 [450, 123535116],
 [451, 123509622],
 [452, 123659535],
 [453, 123538464],
 [454, 123709533],
 [455, 123597195],
 [456, 123549856],
 [457, 123657540],
 [458, 123778956],
 [459, 123744046],
 [460, 123462670],
 [461, 123620350],
 [462, 123471997],
 [463, 123619573],
 [464, 123454676],
 [465, 123424550],
 [466, 123541505],
 [467, 123694435],
 [468, 123495029],
 [469, 123580182],
 [470, 123705575],
 [471, 123754756],
 [472, 123456320],
 [473, 123654275],
 [474, 123546599],
 [475, 123718045],
 [476, 123541521],
 [477, 123676659],
 [478, 123545071],
 [479, 123590766],
 [480, 123479403],
 [481, 123472081],
 [482, 123769740],
 [483, 123691762],
 [484, 123491138],
 [485, 123467068],
 [486, 123598977],
 [487, 123778383],
 [488, 123706024],
 [489, 123455489],
 [490, 123668273],
 [491, 123493753],
 [492, 123437667],
 [493, 123747117],
 [494, 123557433],
 [495, 123424818],
 [496, 123630383],
 [497, 123663885],
 [498, 123485749],
 [499, 123675390],
 [500, 123574001],
 [501, 123529070],
 [502, 123709893],
 [503, 123747985],
 [504, 123486870],
 [505, 123529931],
 [506, 123713030],
 [507, 123493148],
 [508, 123563512],
 [509, 123427599],
 [510, 123509052],
 [511, 123681447],
 [512, 123476598],
 [513, 123568040],
 [514, 123447762],
 [515, 123543430],
 [516, 123495664],
 [517, 123616721],
 [518, 123529252],
 [519, 123708486],
 [520, 123511967],
 [521, 123633693],
 [522, 123700464],
 [523, 123722314],
 [524, 123762226],
 [525, 123652232],
 [526, 123647556],
 [527, 123462894],
 [528, 123717770],
 [529, 123726888],
 [530, 123679631],
 [531, 123707606],
 [532, 123643843],
 [533, 123525488],
 [534, 123578716],
 [535, 123569853],
 [536, 123717422],
 [537, 123526877],
 [538, 123573709],
 [539, 123501612],
 [540, 123749775],
 [541, 123451589],
 [542, 123563450],
 [543, 123674597],
 [544, 123683937],
 [545, 123727560],
 [546, 123678166],
 [547, 123695724],
 [548, 123626674],
 [549, 123468749],
 [550, 123574110],
 [551, 123721314],
 [552, 123453328],
 [553, 123502770],
 [554, 123716974],
 [555, 123540166],
 [556, 123635858],
 [557, 123548651],
 [558, 123634758],
 [559, 123654234],
 [560, 123698551],
 [561, 123493358],
 [562, 123613261],
 [563, 123663001],
 [564, 123531655],
 [565, 123576830],
 [566, 123661499],
 [567, 123553600],
 [568, 123491271],
 [569, 123702722],
 [570, 123524708],
 [571, 123480962],
 [572, 123538906],
 [573, 123516330],
 [574, 123449182],
 [575, 123464636],
 [576, 123515310],
 [577, 123584788],
 [578, 123571836],
 [579, 123743662],
 [580, 123626036],
 [581, 123671096],
 [582, 123738381],
 [583, 123664041],
 [584, 123714480],
 [585, 123448284],
 [586, 123456754],
 [587, 123692065],
 [588, 123707026],
 [589, 123738150],
 [590, 123610491],
 [591, 123533124],
 [592, 123698950],
 [593, 123653007],
 [594, 123750606],
 [595, 123777925],
 [596, 123580398],
 [597, 123595852],
 [598, 123471201],
 [599, 123674076],
 [600, 123721423],
 [601, 123634005],
 [602, 123704133],
 [603, 123691643],
 [604, 123466989],
 [605, 123624347],
 [606, 123435207],
 [607, 123744365],
 [608, 123595627],
 [609, 123567376],
 [610, 123452499],
 [611, 123728895],
 [612, 123505945],
 [613, 123524112],
 [614, 123533675],
 [615, 123658930],
 [616, 123706524],
 [617, 123465719],
 [618, 123678347],
 [619, 123664476],
 [620, 123697576],
 [621, 123710644],
 [622, 123472002],
 [623, 123556255],
 [624, 123670433],
 [625, 123742502],
 [626, 123490335],
 [627, 123668126],
 [628, 123748550],
 [629, 123747204],
 [630, 123522185],
 [631, 123643682],
 [632, 123671900],
 [633, 123615644],
 [634, 123778414],
 [635, 123587575],
 [636, 123457078],
 [637, 123594106],
 [638, 123424506],
 [639, 123710084],
 [640, 123553743],
 [641, 123445965],
 [642, 123772419],
 [643, 123469666],
 [644, 123747061],
 [645, 123596389],
 [646, 123453867],
 [647, 123513522],
 [648, 123656335],
 [649, 123512508],
 [650, 123706560],
 [651, 123470624],
 [652, 123749478],
 [653, 123714983],
 [654, 123565793],
 [655, 123673908],
 [656, 123571215],
 [657, 123545756],
 [658, 123450923],
 [659, 123561977],
 [660, 123516185],
 [661, 123450889],
 [662, 123522394],
 [663, 123522696],
 [664, 123779059],
 [665, 123591076],
 [666, 123666896],
 [667, 123574139],
 [668, 123675410],
 [669, 123764778],
 [670, 123458583],
 [671, 123491226],
 [672, 123544313],
 [673, 123650592],
 [674, 123513539],
 [675, 123680944],
 [676, 123676444],
 [677, 123465150],
 [678, 123528544],
 [679, 123490284],
 [680, 123488055],
 [681, 123564569],
 [682, 123587998],
 [683, 123540233],
 [684, 123457254],
 [685, 123449368],
 [686, 123654221],
 [687, 123609195],
 [688, 123629546],
 [689, 123620653],
 [690, 123506797],
 [691, 123661487],
 [692, 123447934],
 [693, 123666955],
 [694, 123429900],
 [695, 123678059],
 [696, 123499107],
 [697, 123464918],
 [698, 123658518],
 [699, 123663413],
 [700, 123731532],
 [701, 123617640],
 [702, 123645709],
 [703, 123649989],
 [704, 123687269],
 [705, 123683228],
 [706, 123685694],
 [707, 123426789],
 [708, 123766387],
 [709, 123501620],
 [710, 123604156],
 [711, 123481754],
 [712, 123595884],
 [713, 123502237],
 [714, 123645434],
 [715, 123593774],
 [716, 123464387],
 [717, 123737367],
 [718, 123651626],
 [719, 123608751],
 [720, 123729987],
 [721, 123474966],
 [722, 123748692],
 [723, 123516551],
 [724, 123552853],
 [725, 123463044],
 [726, 123485086],
 [727, 123453494],
 [728, 123752903],
 [729, 123427026],
 [730, 123776878],
 [731, 123678176],
 [732, 123423416],
 [733, 123510316],
 [734, 123461448],
 [735, 123464336],
 [736, 123549372],
 [737, 123618208],
 [738, 123632169],
 [739, 123476117],
 [740, 123701106],
 [741, 123672900],
 [742, 123578616],
 [743, 123585768],
 [744, 123438251],
 [745, 123482869],
 [746, 123604090],
 [747, 123500368],
 [748, 123719961],
 [749, 123623148],
 [750, 123521997],
 [751, 123709503],
 [752, 123618786],
 [753, 123571464],
 [754, 123588924],
 [755, 123594543],
 [756, 123496231],
 [757, 123747881],
 [758, 123595550],
 [759, 123554665],
 [760, 123531682],
 [761, 123514511],
 [762, 123566719],
 [763, 123493983],
 [764, 123562379],
 [765, 123446123],
 [766, 123539405],
 [767, 123440665],
 [768, 123575399],
 [769, 123670549],
 [770, 123739611],
 [771, 123717913],
 [772, 123625822],
 [773, 123638935],
 [774, 123586525],
 [775, 123775638],
 [776, 123433063],
 [777, 123710045],
 [778, 123709759],
 [779, 123613837],
 [780, 123673815],
 [781, 123648195],
 [782, 123614238],
 [783, 123722723],
 [784, 123688176],
 [785, 123615903],
 [786, 123650163],
 [787, 123639958],
 [788, 123711750],
 [789, 123734658],
 [790, 123550163],
 [791, 123528470],
 [792, 123473617],
 [793, 123491326],
 [794, 123516639],
 [795, 123599383],
 [796, 123497578],
 [797, 123638750],
 [798, 123599160],
 [799, 123551216],
 [800, 123479029],
 [801, 123772430],
 [802, 123621455],
 [803, 123469198],
 [804, 123630902],
 [805, 123643520],
 [806, 123556833],
 [807, 123665275],
 [808, 123516219],
 [809, 123622900],
 [810, 123542601],
 [811, 123434235],
 [812, 123653837],
 [813, 123777748],
 [814, 123435048],
 [815, 123707429],
 [816, 123479740],
 [817, 123576851],
 [818, 123524307],
 [819, 123565911],
 [820, 123755991],
 [821, 123672227],
 [822, 123645237],
 [823, 123640868],
 [824, 123741249],
 [825, 123685940],
 [826, 123717258],
 [827, 123619165],
 [828, 123463459],
 [829, 123484501],
 [830, 123511578],
 [831, 123695159],
 [832, 123532750],
 [833, 123637897],
 [834, 123471476],
 [835, 123724115],
 [836, 123492617],
 [837, 123681666],
 [838, 123754977],
 [839, 123569743],
 [840, 123595272],
 [841, 123755602],
 [842, 123732459],
 [843, 123455496],
 [844, 123688653],
 [845, 123769582],
 [846, 123497078],
 [847, 123661533],
 [848, 123744935],
 [849, 123564042],
 [850, 123631037],
 [851, 123475153],
 [852, 123571340],
 [853, 123443481],
 [854, 123600955],
 [855, 123663381],
 [856, 123712090],
 [857, 123673093],
 [858, 123559398],
 [859, 123465543],
 [860, 123570235],
 [861, 123572717],
 [862, 123701306],
 [863, 123512733],
 [864, 123654628],
 [865, 123590156],
 [866, 123557191],
 [867, 123635756],
 [868, 123651276],
 [869, 123584405],
 [870, 123682969],
 [871, 123489010],
 [872, 123761297],
 [873, 123532012],
 [874, 123697052],
 [875, 123615423],
 [876, 123615297],
 [877, 123530607],
 [878, 123440757],
 [879, 123499000],
 [880, 123462793],
 [881, 123467455],
 [882, 123464706],
 [883, 123626114],
 [884, 123753776],
 [885, 123707754],
 [886, 123462905],
 [887, 123682634],
 [888, 123751250],
 [889, 123750585],
 [890, 123431227],
 [891, 123618424],
 [892, 123453573],
 [893, 123485539],
 [894, 123550560],
 [895, 123698762],
 [896, 123491104],
 [897, 123598829],
 [898, 123778685],
 [899, 123709369],
 [900, 123739772],
 [901, 123750760],
 [902, 123465454],
 [903, 123628986],
 [904, 123681694],
 [905, 123678299],
 [906, 123484034],
 [907, 123593910],
 [908, 123460472],
 [909, 123576530],
 [910, 123632121],
 [911, 123521500],
 [912, 123640240],
 [913, 123771311],
 [914, 123744349],
 [915, 123616994],
 [916, 123650928],
 [917, 123516008],
 [918, 123496549],
 [919, 123582915],
 [920, 123488059],
 [921, 123736314],
 [922, 123627385],
 [923, 123478580],
 [924, 123708068],
 [925, 123472796],
 [926, 123445103],
 [927, 123578612],
 [928, 123457738],
 [929, 123590206],
 [930, 123642861],
 [931, 123424350],
 [932, 123625853],
 [933, 123689943],
 [934, 123493613],
 [935, 123636604],
 [936, 123545881],
 [937, 123594696],
 [938, 123715658],
 [939, 123632646],
 [940, 123716730],
 [941, 123476078],
 [942, 123467916],
 [943, 123601078],
 [944, 123486643],
 [945, 123749744],
 [946, 123617536],
 [947, 123669470],
 [948, 123442453],
 [949, 123704157],
 [950, 123573713],
 [951, 123494027],
 [952, 123584618],
 [953, 123445272],
 [954, 123427871],
 [955, 123620658],
 [956, 123730329],
 [957, 123425474],
 [958, 123588511],
 [959, 123507889],
 [960, 123655317],
 [961, 123522039],
 [962, 123646733],
 [963, 123484230],
 [964, 123510291],
 [965, 123628539],
 [966, 123707892],
 [967, 123696651],
 [968, 123657962],
 [969, 123489486],
 [970, 123481344],
 [971, 123523498],
 [972, 123531873],
 [973, 123673693],
 [974, 123558415],
 [975, 123498848],
 [976, 123699025],
 [977, 123605869],
 [978, 123761677],
 [979, 123760676],
 [980, 123501880],
 [981, 123523433],
 [982, 123754733],
 [983, 123440990],
 [984, 123553881],
 [985, 123746039],
 [986, 123772446],
 [987, 123683275],
 [988, 123580624],
 [989, 123615764],
 [990, 123553309],
 [991, 123644853],
 [992, 123518657],
 [993, 123606058],
 [994, 123638737],
 [995, 123453552],
 [996, 123642509],
 [997, 123480946],
 [998, 123537471],
 [999, 123607266],
 ...]

In [215]:
# вычисляем одинаковые предыдущие заявки для определения клиента
dublicate_app = app_hist.loc[app_hist['PREV_APPLICATION_NUMBER'].duplicated(), 'APPLICATION_NUMBER'].values

In [217]:
dublicate_app

array([], dtype=int64)

In [216]:
app_hist.loc[app_hist['APPLICATION_NUMBER'].isin(dublicate_app), ['APPLICATION_NUMBER', 'PREV_APPLICATION_NUMBER']]

Empty DataFrame
Columns: [APPLICATION_NUMBER, PREV_APPLICATION_NUMBER]
Index: []

In [148]:
clien_profile.describe()

,APPLICATION_NUMBER,CHILDRENS,TOTAL_SALARY,AMOUNT_CREDIT,AMOUNT_ANNUITY,REGION_POPULATION,AGE,DAYS_ON_LAST_JOB,OWN_CAR_AGE,FLAG_PHONE,...,FAMILY_SIZE,EXTERNAL_SCORING_RATING_1,EXTERNAL_SCORING_RATING_2,EXTERNAL_SCORING_RATING_3,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,2.500000e+05,250000.000000,2.500000e+05,2.500000e+05,249989.000000,250000.000000,250000.000000,250000.000000,85041.000000,250000.000000,...,249998.000000,109121.000000,2.494680e+05,200462.000000,216293.000000,216293.000000,216293.000000,216293.000000,216293.000000,216293.000000
mean,1.235771e+08,0.417624,1.690662e+05,5.993051e+05,27125.209585,0.020871,16033.460496,67505.883296,12.030221,0.280244,...,2.154025,0.502122,5.141749e-01,0.510848,0.006348,0.006866,0.034217,0.267475,0.266786,1.899030
std,8.877722e+04,0.722529,2.588480e+05,4.022720e+05,14503.930366,0.013827,4361.332320,139261.099609,11.899404,0.449119,...,0.911543,0.210817,1.910938e-01,0.195054,0.083783,0.107957,0.204029,0.914514,0.831547,1.868811
min,1.234233e+08,0.000000,2.565000e+04,4.500000e+04,1615.500000,0.000290,7489.000000,0.000000,0.000000,0.000000,...,1.000000,0.014691,8.173617e-08,0.000527,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.235002e+08,0.000000,1.125000e+05,2.700000e+05,16524.000000,0.010006,12415.000000,931.000000,5.000000,0.000000,...,2.000000,0.334180,3.920026e-01,0.370650,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.235772e+08,0.000000,1.485000e+05,5.147775e+05,24930.000000,0.018850,15744.000000,2217.000000,9.000000,0.000000,...,2.000000,0.506018,5.656713e-01,0.535276,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,1.236540e+08,1.000000,2.025000e+05,8.086500e+05,34618.500000,0.028663,19681.000000,5678.000000,15.000000,1.000000,...,3.000000,0.674793,6.635195e-01,0.669057,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,1.237309e+08,19.000000,1.170000e+08,4.050000e+06,230161.500000,0.072508,25229.000000,365243.000000,69.000000,1.000000,...,20.000000,0.962693,8.549997e-01,0.896010,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

## Base line

In [62]:
all_zero = np.array(train.shape[0] * [1])
roc_auc_score(train['TARGET'], all_zero)

0.5

In [68]:
all_zero = np.random.randint(2, size=train.shape[0])
roc_auc_score(train['TARGET'], all_zero)

0.5014212712374523

## Split data set

In [233]:
object_features = train.select_dtypes(include=[np.object])
print(f"count of object_features {object_features.shape[1]}")

object_features_col = list(object_features.columns)
object_features_col

count of object_features 4

['NAME_CONTRACT_TYPE', 'GENDER', 'EDUCATION_LEVEL', 'FAMILY_STATUS']

In [237]:
# Обработка категориальных признаков
for feature in object_features:
    namber_val = 0
    for unic_val in train[feature].unique():
        namber_val += 1
        train.loc[train[feature] == unic_val, feature] = namber_val
#         leader_board.loc[leader_board[feature] == unic_val, feature] = namber_val
    train[feature] = pd.to_numeric(train[feature])
#     leader_board[feature] = pd.to_numeric(leader_board[feature])

In [238]:
target = 'TARGET'
df_train, df_test_val = train_test_split(
    train.drop(["APPLICATION_NUMBER"], axis=1), train_size=0.75, shuffle=True, random_state=1,
)

df_val, df_test = train_test_split(
    df_test_val, train_size=0.5, shuffle=True, random_state=1,
)

## XGBoost

In [241]:
params = {
    "booster": "gbtree",
    "objective": "binary:logistic",
    "eval_metric": "auc",
    "learning_rate": 0.1,
    "n_estimators": 100,
    "reg_lambda": 100,
    "max_depth": 10,
    "gamma": 10,
    "nthread": 6,
    "seed": 27
}

In [239]:
dtrain = xgb.DMatrix(
    data=df_train.drop(target, axis=1), label=df_train[target]
)
dvalid = xgb.DMatrix(
    data=df_val.drop(target, axis=1), label=df_val[target]
)
dtest = xgb.DMatrix(
    data=df_test.drop(target, axis=1), label=df_test[target]
)

In [247]:
model = xgb.train(
    params=params,
    dtrain=dtrain,
    num_boost_round=200,
    early_stopping_rounds=50,
    evals=[(dtrain, "train"), (dvalid, "valid")],
    verbose_eval=10,
    maximize=True,
)

[18:36:11] WARNING: /workspace/src/learner.cc:328:
Parameters: { n_estimators } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-auc:0.58670	valid-auc:0.57498
Multiple eval metrics have been passed: 'valid-auc' will be used for early stopping.

Will train until valid-auc hasn't improved in 50 rounds.
[10]	train-auc:0.68781	valid-auc:0.67306
[20]	train-auc:0.69979	valid-auc:0.68386
[30]	train-auc:0.71556	valid-auc:0.69847
[40]	train-auc:0.72355	valid-auc:0.70652
[50]	train-auc:0.72876	valid-auc:0.71028
[60]	train-auc:0.73148	valid-auc:0.71256
[70]	train-auc:0.73272	valid-auc:0.71335
[80]	train-auc:0.73272	valid-auc:0.71335
[90]	train-auc:0.73272	valid-auc:0.71335
[100]	train-auc:0.73272	valid-auc:0.71335
[110]	train-auc:0.73272	valid-auc:0.71335
Stopping. Best iteration:
[64]	train-auc:0.73189	valid-auc:0.71335

In [248]:
predict_val = model.predict(dtest)
roc_auc_score(df_test[target], predict_val)

0.7089824849522534